
<div class="container card mt-4 text-center w-50 shadow-sm border-opacity-75 border-warning" >
  <div class="card-body">
    <h2 class="text-uppercase text-center mb-5">Create contact</h2>
    <form [formGroup]="contactForm" (ngSubmit)="SaveContact()">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">&#64;</div>
        </div>
        <input formControlName="name" name="name" type="text" class="form-control shadow-none" id="inlineFormInputGroupUsername" placeholder="contact name...">
      </div>

      <small class="text-danger text-start" *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched">
        This field is required
      </small>
      <div class="input-group mt-1">
        <div class="input-group-prepend">
          <div class="input-group-text">&#64;</div>
        </div>
        <input formControlName="phoneNumber" name="phoneNumber" type="text" class="form-control shadow-none" id="inlineFormInputGroupUsername2" placeholder="phone number...">
      </div>

      <small class="text-danger text-start" *ngIf="contactForm.get('phoneNumber')?.invalid && contactForm.get('phoneNumber')?.touched">
        This field is required
      </small>

      <select formControlName="gender" name="gender" class="form-select mt-1 shadow-none" aria-label="Default select example">
        <option [ngValue]="Gender.Male">Male</option>
        <option [ngValue]="Gender.Female">Female</option>
      </select>

      <small class="text-danger text-start" *ngIf="contactForm.get('gender')?.invalid && contactForm.get('gender')?.touched">
        This field is required
      </small>

      <br>
      <button type="submit" [disabled]="!contactForm.valid" class="btn btn-outline-warning mt-4">Save</button>
    </form>
  </div>
</div>
